<h2>
  SIGN UP
</h2>
<form (ngSubmit)="signupSubmit()">
  <label>
    First Name:
    <input [(ngModel)]="signupForm.firstName" type="text" name="firstName" placeholder="Helena"/>
  </label>
  <br/>
  <label>
    Last Name:
    <input [(ngModel)]="signupForm.lastName" type="text" name="lastName" placeholder="Of Troy"/>
  </label>
  <br/>
  <label>
    Email:
    <input [(ngModel)]="signupForm.email" type="email" name="email" placeholder="user@example.com"/>
  </label>
  <br/>
  <label>
    Password:
    <input [(ngModel)]="signupForm.originalPassword" type="password" name="originalPassword" placeholder="we won't tell"/>
  </label>
  <br/>
  <input [(ngModel)]="signupForm.role" type="text" name="role" placeholder="worker"/>

  <button>Sign Up</button>
</form>