
<!-- <img src="../assets/images/logo.png" alt="logoFree4Hire"> -->


<div class="allOfIt">
    <div class="user-info">
      <h1>Hi again, {{userInfo?.firstName}} {{userInfo?.lastName}}!</h1>

      <span>
        <h3>Profil</h3>
        <a routerLink="/settings">Edit</a>
      </span>

      <ul>
        <li>Adress: {{userInfo?.adress}}</li>
        <li>Phone: {{userInfo?.phone}}</li>
        <li>Email: {{userInfo?.email}}</li>
      </ul>

      <div *ngIf="userInfo?.missions.length > 0" class="user-missions">
        <span>
          <h3><i>My missions</i></h3>
        </span>
        <ul>
          <li *ngFor="let oneMission of userInfo?.missions">
            <h3>
              {{oneMission.type}}
            </h3>
            <p>
              Adress: {{oneMission.adress}}
            </p>
            <p *ngIf="oneMission.client">
              For: {{oneMission.client}}
            </p>
            <p>
              Done by: {{oneMission.worker}}
            </p>
            <p>
              From: {{oneMission.startDateTime}}
            </p>
            <p>
              To: {{oneMission.endDateTime}}
            </p>
            <p>
              Price: {{oneMission.priceHour}}
            </p>
          </li>
        </ul>
      </div>


      <div *ngIf="userInfo?.comments.length > 0" class="user-missions">
        <span>
          <h3><i>Comments</i></h3>
        </span>
        <ul>
          <li *ngFor="let oneComment of userInfo?.comments">
            <h3>
              {{oneComment.title}}
            </h3>
            <p>
              by : {{oneComment.creator}}
            </p>
            <p>
              rating : {{oneComment.rating}}
            </p>
            <p>
              {{oneComment.description}}
            </p>
          </li>
        </ul>
      </div>
    </div>

  </div>
