<header>
    <!-- <h1>
        {{title}}
      </h1> -->
  <nav class="nav">
    <div class="navbar-home" *ngIf="myAuthServ.currentUser">
        <img class="logo-nav" src="../assets/Logo/Free4Hire Logo.png" alt="Logo Free4Hire">
        <a routerLink="/">Home Page</a>
        <b>Welcome, {{myAuthServ.currentUser.firstName}} {{myAuthServ.currentUser.lastName}}</b>
        <a routerLink="/platform">Your platform</a>
        <a routerLink="/settings">Edit Your Infos</a>
        <a *ngIf="!myAuthServ.currentUser.role" routerLink="/process-missions">Create a New Mission</a>
        <a *ngIf="myAuthServ.currentUser.role" routerLink="/search-mission">Search For a Mission</a>
        <a *ngIf="myAuthServ.currentUser.role" routerLink="/list-missions">Access All The Missions</a>
        <button (click)='logoutClick()'>Log Out</button>
    </div>
    <div class="navbar-home " *ngIf="!myAuthServ.currentUser">
        <img class="logo-nav" src="../assets/Logo/Free4Hire Logo.png" alt="Logo Free4Hire">
        <a routerLink="/">Home Page</a>
        <a routerLink="/signup">Sign Up</a>
        <a routerLink="/login">Log In</a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
    <p>
      Made with Love and Tenderness 🐪 !
    </p>
  </footer>