<header>
    <!-- <h1>
        {{title}}
      </h1> -->
  <nav>
    <img class="logo-nav" src="../assets/Logo/Free4Hire Logo.jpg" alt="Logo Free4Hire">
    <a routerLink="/">Home Page</a>
    <span class="span-nav-connected" *ngIf="myAuthServ.currentUser">
      <b>Welcome, {{myAuthServ.currentUser.firstName}} {{myAuthServ.currentUser.lastName}}</b>
      <a routerLink="/platform">Your platform</a>
      <button (click)='logoutClick()'>Log Out</button>
    </span>
    <span *ngIf="!myAuthServ.currentUser">
      <a routerLink="/signup">Sign Up</a>
      <a routerLink="/login">Log In</a>
    </span>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
    <p>
      Made with Love and Tenderness 🐪 !
    </p>
  </footer>