header{
    margin: 0px;
    height: 10vh;
    /* border: 1px solid red */
}

.navbar-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #78CCB8;
    overflow: hidden;
}

.navbar-home a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-home a:hover {
    background-color: #ddd;
    color: black;
}



.nav {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255); */
    /* border: 1px solid black; */
    margin: 0;
}

.logo-nav {
    height: 10vh;
}

.span-nav-connected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    text-align: center;
}