 <div class="whole-thing">
        <div class="navbar is-dark">
                <div class="navbar-brand">
                    <a routerLink="/" class="navbar-item">
                        <img class="logo-nav" src="../assets/Logo/Free4Hire Logo.png" alt="Logo Free4Hire">
                    </a>
                </div>

                <div class="navbar-menu navbar-end" *ngIf="!myAuthServ.currentUser">
                    <a class="navbar-item" routerLink="/signup">Sign Up</a>
                    <a class="navbar-item" routerLink="/login">Login</a>
                </div>

                <div class="navbar-menu navbar-end" *ngIf="myAuthServ.currentUser">
                    <p class="navbar-item">Welcome, {{myAuthServ.currentUser.firstName}} {{myAuthServ.currentUser.lastName}}</p>
                    <a class="navbar-item" routerLink="/platform">Your platform</a>
                    <a *ngIf="!myAuthServ.currentUser.role" class="navbar-item" routerLink="/process-missions" >Create Mission</a>
                    <a *ngIf="myAuthServ.currentUser.role" class="navbar-item" routerLink="/search-mission">Search</a>
                    <a *ngIf="myAuthServ.currentUser.role" class="navbar-item" routerLink="/list-missions">All The Missions</a>
                    <a class="navbar-item" routerLink="/invoices">Invoices</a>
                    <a class="navbar-item" routerLink="/settings">Settings</a>
                    <button (click)='logoutClick()' >Log Out</button>
                </div>
            </div>

            <router-outlet></router-outlet>

        <app-footer></app-footer>
 </div>