<section class="section list-missions">
  <h1 class="title">
    Our Missions
  </h1>
  <div class="container">
    <ul>
      <div class="each-mission" *ngFor="let oneMission of missions">
        <li>
          <h2 class="subtitle">
            {{oneMission.type}}
          </h2>
          <p>
            Adress: {{oneMission.adress}}
          </p>
          <p *ngIf="oneMission.client">
            For: {{oneMission.client}}
          </p>
          <p>
            Done by: {{oneMission.worker.firstName}} {{oneMission.worker.lastName}}
          </p>
          <a [routerLink]="['/user', oneMission.worker._id]">Check the profile</a>
          <p>
            From: {{oneMission.startDateTime}}
          </p>
          <p>
            To: {{oneMission.endDateTime}}
          </p>
          <p>
            Price: {{oneMission.priceHour}}
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>