/* General Styling */

.title,
.subtitle{
    color: white;
    text-align: center;
}

.subtitle strong,
.about-element strong {
    color: white;
}

/* TOP SECTION : TITLE */
.top-section{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/HomePage/background-images/adult-cleaning-flora-713297.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.color-overlay-top {
    width: 100vw;
    height: 100vh;
    background: #D4F0D0;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

/* SECOND SECTION : ABOUT THE APP*/
.second-section{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/HomePage/background-images/animal-cat-cute-46024.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.color-overlay-second {
    width: 100vw;
    height: 100vh;
    background: #F0D1D0;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

.second-section .container,
.second-section .container .about-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.about-element a{
    color: black;
    border: 1px solid #F0D1D0;
    background-color: #F0D1D0;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

/* THIRD SECTION : LOOKING FOR A WORKER*/
.third-section{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/HomePage/background-images/adult-affection-baby-853408.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 0;
}

.color-overlay-third {
    min-width: 100vw;
    min-height: 100vh;
    background: #D0E8F0;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

.fourth-section .container,
.third-section .container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.fourth-section .container h1,
.third-section .container h1{
    text-align: center;
}

.boxes-client{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.box-client{
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* FOURTH SECTION : WANTING TO BE A WORKER*/
.fourth-section{
    border: 1px solid black;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/HomePage/background-images/adult-catering-chair-6270.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 0;
}

.color-overlay-fourth {
    min-width: 100vw;
    min-height: 100vh;
    background: #FDFD96;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

/* FIFTH SECTION : THE TEAM*/
.fifth-section{
    border: 1px solid black;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/HomePage/background-images/dawn-desert-dry-273935.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.color-overlay-fifth {
    min-width: 100vw;
    min-height: 100vh;
    background: #FDFD96;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

/* LAST SECTION : CONTACT*/
.last-section{
    border: 1px solid black;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/HomePage/background-images/adults-apron-business-580613.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.color-overlay-last {
    min-width: 100vw;
    min-height: 100vh;
    background: #C0C0C0;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }



.img-client{
    height: 25vh;
}

.img-team{
    height: 40vh;
}


#team{
    text-align: center;
}

.img-team{
    height: 40vh;
}

.team-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact input{
    width: 336px;
}