h1{
    margin: 10vh 0 0 0;
    text-align: center;
}

.text p{
    text-align: center;
}

#about h2{
    text-align: center;
}

#about p{
    text-align: center;
}

.big-box{
    text-align: center;
}

.img-client{
    height: 25vh;
}

.boxes-client{
    display: flex;
    flex-wrap: wrap;
}

.box-client{
    /* border: 1px solid black; */
    width: 35vw;
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-client p {
    text-align: justify;
    padding: 0 10vw;
}

#team{
    text-align: center;
}

.img-team{
    height: 40vh;
}

.team-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact input{
    width: 336px;
}