<!-- <section class="section">
  <div class="container">
    <h1 class="title">Section</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
    </h2>
  </div>
</section> -->

<section class="section top-section">
  <!-- <figure class="image">
    <img src="../../assets/HomePage/background-images/adult-cleaning-flora-713297.jpg">
  </figure> -->
  <div class="container">
    <h1 class="title">
      Let's make our lives
      <strong>
        EASIER
      </strong>
      together !
    </h1>
    <h2 class="subtitle">
      Using
      <strong>
        Free4Hire
      </strong>
      is going to allow you to manage your time and make the most of it!
    </h2>
    <div class="color-overlay">
    </div>
  </div>
</section>

  <section id="about" class="section middle-section">
    <h2>ABOUT</h2>
    <p>
      <strong>
        Free4Hire
      </strong>
      is an app that connects people in need.
    </p>
    <div>
        <p>
            If you are looking for someone to babysit, clean, petsit, drive…
            <br/>
            Sign up to
            <strong>
              Free4Hire
            </strong>
            and we will get you in contact with people who have been <em>vetted</em> by our team.
          </p>
          <a routerLink="/signup">Sign Up</a>
    </div>

    <div>
        <p>
            If you are looking to make a little bit of money and help other, look no more !
            <br/>
            Sign up to
            <strong>
              Free4Hire
            </strong>
             and we will get you in contact with people who are <em>looking for someone in the service industry</em>.
          </p>
          <a routerLink="/signup">Sign Up</a>
    </div>
  </section>


  <section class="section" >
    <div class="big-box client-section">
      <h3>
        You're looking for a worker ?
      </h3>
      <div class="boxes-client">
        <div class="box-client">
            <img class="img-client" src="../../assets/HomePage/1Connect.svg" alt="Connect">
            <p>
              Make a search using our engin by filling the form with the type of service you need, your adress and the time you want the task to be done.
            </p>
          </div>
          <div class="box-client">
            <img class="img-client" src="../../assets/HomePage/2Find.svg" alt="Find">
            <p>You'll get the profiles of all the workers that are available and that correspond to your search.</p>
          </div>
          <div class="box-client">
            <img class="img-client" src="../../assets/HomePage/3Confirm.svg" alt="Connect">
            <p>You'll get a confirmation about the mission with an entire access to the worker's profile.</p>
          </div>
          <div class="box-client">
            <img class="img-client" src="../../assets/HomePage/4Automatism.svg" alt="Automatism">
            <p>All the process is automatised : the billing annd the paiment. After the mission, you just need to rate the Worker.</p>
          </div>
      </div>
    </div>

    <div class="big-box worker-section">
      <h3>
        You're looking for a mission ?
      </h3>
      <div class="boxes-client">
        <div class="box-client">
          <img class="img-client" src="../../assets/HomePage/Worker/step1.svg" alt="Connect">
          <p>
            After being interviewed, your profile is validated and you can make yourself available whenever you want.
          </p>
        </div>
        <div class="box-client">
          <img class="img-client" src="../../assets/HomePage/Worker/step2.svg" alt="Accept">
          <p>You're free to accept or refuse and make your own plans.</p>
        </div>
        <div class="box-client">
          <img class="img-client" src="../../assets/HomePage/Worker/step3.svg" alt="Billing">
          <p>No contracts needed, we take care of the billing and the invoices.</p>
        </div>
        <div class="box-client">
          <img class="img-client" src="../../assets/HomePage/Worker/step4.svg" alt="Automatism">
          <p>The paiement is secured and made 7 days after the mission. You just need to rate the client for it to be finished.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="team">
    <h2>THE TEAM</h2>
    <p>This app is the result of a long thaugth between two siblings that live thousands of kilometers afar but who share the love of work and participating in making society better!</p>
    <div class="team-presentation">
      <div class="team-element">
        <img class="img-team" src="../../assets/HomePage/team/Al Farouk.jpg" alt="Al Farouk">
        <h4>Al Farouk</h4>
        <ul>
          <li>Business Manager</li>
          <li>Logistics/Management</li>
        </ul>
      </div>

      <div class="team-element">
        <img class="img-team" src="../../assets/HomePage/team/Jihad.jpg" alt="Jihad">
        <h4>Jihad</h4>
        <ul>
          <li>Business Partner</li>
          <li>App Developer</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section" id="contact">
    <h2>Contact Us</h2>
    <form action="">
      <input type="email" placeholder="email@example.com">
      <br/>
      <input type="text" placeholder="Subject">
      <br/>
      <textarea name="message" id="message" cols="40" rows="20" placeholder="Message">
      </textarea>
      <br/>
      <button>Send</button>
    </form>
  </section>