.section {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.container {
    /* margin: 0; */
    border: 1px solid black;
    height: 100%;
    background: #000 url('../../assets/HomePage/background-images/adult-cleaning-flora-713297.jpg');
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    color: #fff;
    /* opacity: 0.4; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

.color-overlay {
    width: 100%;
    height: 100%;
    background: #D4F0D0;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    z-index: 1;
  }

/* .container::after {
    content: "";
    background:
    linear-gradient(
        rgba(120, 204, 184, 0.2),
        rgba(120, 204, 184, 0.2)
    ), url(../../assets/HomePage/background-images/animal-cat-cute-46024.jpg);
    background-repeat: none;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  } */

.img-client{
    height: 25vh;
}

.img-team{
    height: 40vh;
}


/* .section .top-section{
    height: 100vh;
}

.section .top-section::after {
    content: "";
    background:
    linear-gradient(
        rgba(120, 204, 184, 0.2),
        rgba(120, 204, 184, 0.2)
    ), url(../../assets/HomePage/background-images/animal-cat-cute-46024.jpg);
    background-repeat: none;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

.middle-section{
    height: 100vh;
}

.middle-section::after {
    content: "";
    background:
    linear-gradient(
        rgba(165, 221, 113, 0.5),
        rgba(165, 221, 113, 0.5)
    ), url(../../assets/HomePage/background-images/adult-cleaning-flora-713297.jpg);
    background-repeat: none;
    background-size: cover;
    opacity: 0.4;
    top: 100vh;
    left: 0;
    bottom: -100vh;
    right: 0;
    position: absolute;
    z-index: -1;
  }

.big-box .client-section{
    height: 100vh;
    border: 1px solid black
}

.client-section::after{
    background:
    linear-gradient(
        rgba(#E4572E, 0.5),
        rgba(#E4572E, 0.5)
    );
    top: 0vh;
    left: 0;
    bottom: -200vh;
    right: 0;
    position: absolute;
    z-index: -1;
  }

.big-box .worker-section{
    height: 100vh;
}

h1{
    margin: 10vh 0 0 0;
    text-align: center;
}

h2 {
    text-align: center;
}

.text p{
    text-align: center;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h2{
    text-align: center;
}

#about p{
    text-align: center;
}

.big-box{
    text-align: center;
}

.img-client{
    height: 25vh;
}

.boxes-client{
    display: flex;
    flex-wrap: wrap;
}

.box-client{
    border: 1px solid black;
    width: 35vw;
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-client p {
    text-align: justify;
    padding: 0 10vw;
}

#team{
    text-align: center;
}

.img-team{
    height: 40vh;
}

.team-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact input{
    width: 336px;
} */