<section class="section">
  <h1 class="title">My own profil</h1>

  <form [formGroup]="rForm" (ngSubmit)="settingsSubmit()">
    <input [(ngModel)]="settingForm.firstName" formControlName="firstName" name="firstName" id="firstName" type="text" placeholder="First Name"
      value="{{currentUser.firstName}}">
    <div *ngIf="rForm.controls[ 'firstName'].touched && !rForm.controls[ 'firstName'].valid">What's your First Name ?</div>
    <br>

    <input [(ngModel)]="settingForm.lastName" formControlName="lastName" name="lastName" id="lastName" type="text" placeholder="Last Name"
      value="{{currentUser.lastName}}">
    <div *ngIf="rForm.controls['lastName'].touched && !rForm.controls[ 'lastName'].valid">What's your Last Name ?</div>
    <br>

    <label for="exampleFormControlFile1">Update your picture</label>
    <input [(ngModel)]="settingForm.image" formControlName="image" name="image" id="image" type="file">
    <br>

    <input [(ngModel)]="settingForm.phone" formControlName="phone" name="phone" id="phone" type="text"
      placeholder="xx.xx.xx.xx.xx">
    <div *ngIf="rForm.controls[ 'phoneNumber'].touched && !rForm.controls[ 'phoneNumber'].valid">We need your phone to connect you to the other users.</div>
    <br>

    <input [(ngModel)]="settingForm.oldPassword" formControlName="oldPassword" name="oldPassword" id="oldPassword" type="password"
      placeholder="Current Password">
    <div *ngIf="rForm.controls[ 'oldPassword'].touched && !rForm.controls[ 'oldPassword'].valid">You need to submit your current password.</div>
    <br>

    <input [(ngModel)]="settingForm.newPassword" formControlName="newPassword" name="newPassword" id="newPassword" type="password"
      placeholder="New Password">
    <div *ngIf="rForm.controls[ 'newPassword'].touched && !rForm.controls[ 'newPassword'].valid">Chose a new password.</div>
    <br>

    <!-- If the User is a worker -->
    <!-- <fieldset>
      <legend>My Availabilities</legend>
      <div>
        <input [(ngModel)]="settingForm.feature" formControlName="specificNeed" name="specificNeed" id="debout" type="checkbox">
        <label for="debout">J'ai besoin d'aide pour me mettre debout</label>
      </div>
    </fieldset> -->

    <input type="submit" value="Save">
  </form>
</section>